mixin test-front(additionalClass)
  .test-front#test(class=additionalClass)
    h2.content-header Узнай кто ты <br>из музыкантов
    +light-comment('test-front__comment')
    a.button.button--blue.test-front__button(href="#") пройти тест
    img.test-front__arrow(src="img/test-front-arrow.svg")