include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/front/front.pug
include ../blocks/scroll-arrows/scroll-arrows.pug
include ../blocks/festival/festival.pug
include ../blocks/city/city.pug
include ../blocks/button/button.pug
include ../blocks/article/article.pug
include ../blocks/event/event.pug
