mixin photo-popup(additionalClass)
  .photo-popup.popup#photo-1(class=additionalClass)
    .popup__wrapper.photo-popup__wrapper
      a.close.photo-popup__close.not-anchor(href="#") закрыть
      img.photo-popup__picture(src="img/photo-6-big.jpg" alt="Photo")
      +share