.photo-popup {
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
  
    @media screen and (max-width: @screen-sm) {
      padding: 0;
    }
  }
  
  &__picture {
    margin-bottom: 35px;
    width: 100%;
    height: auto;
  
    @media screen and (max-width: @screen-sm) {
      margin-bottom: 20px;
    }
  }
  
  &__close {
    display: flex;
    align-self: flex-end;
    margin-bottom: 80px;
    margin-right: -32px;
  }
}