mixin age(additionalClass)
  .age#age(class=additionalClass)
    .logo.age__logo
    .age__header исполнилось ли <br>вам 18 лет?
    .age__buttons-container
      a.button.age__button.age__button--yes(href="#") да
      a.button.age__button(href="http://www.ballantines.com/") нет