doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    +front
    +festival
    +test-front
    +about
    +photo
    include ../templates/scripts.pug