mixin photo(additionalClass)
  .photo(class=additionalClass)
    h2.content-header Фотоотчеты
    +light-comment
    .city.city--blue
      a.button.button--blue.city__button.city__item(href="#") Минск
      a.city__item(href="#") Брест
      a.city__item(href="#") Гродно
      a.city__item(href="#") Гомель
      a.city__item(href="#") Могилев
      a.city__item(href="#") Витебск
    ul.photo__gallery
      li.photo__gallery-item
        a.photo__gallery-item-link(href="#")
          img.photo__gallery-item-picture(src="img/photo-1.jpg" alt="Photo")
      li.photo__gallery-item
        a.photo__gallery-item-link(href="#")
          img.photo__gallery-item-picture(src="img/photo-2.jpg" alt="Photo")
      li.photo__gallery-item
        a.photo__gallery-item-link(href="#")
          img.photo__gallery-item-picture(src="img/photo-3.jpg" alt="Photo")
      li.photo__gallery-item
        a.photo__gallery-item-link(href="#")
          img.photo__gallery-item-picture(src="img/photo-4.jpg" alt="Photo")
      li.photo__gallery-item
        a.photo__gallery-item-link(href="#")
          img.photo__gallery-item-picture(src="img/photo-5.jpg" alt="Photo")
      li.photo__gallery-item
        a.photo__gallery-item-link(href="#")
          img.photo__gallery-item-picture(src="img/photo-6.jpg" alt="Photo")
      li.photo__gallery-item
        a.photo__gallery-item-link(href="#")
          img.photo__gallery-item-picture(src="img/photo-1.jpg" alt="Photo")
      li.photo__gallery-item
        a.photo__gallery-item-link(href="#")
          img.photo__gallery-item-picture(src="img/photo-2.jpg" alt="Photo")
      li.photo__gallery-item
        a.photo__gallery-item-link(href="#")
          img.photo__gallery-item-picture(src="img/photo-3.jpg" alt="Photo")
      li.photo__gallery-item
        a.photo__gallery-item-link(href="#")
          img.photo__gallery-item-picture(src="img/photo-4.jpg" alt="Photo")
      li.photo__gallery-item
        a.photo__gallery-item-link(href="#")
          img.photo__gallery-item-picture(src="img/photo-5.jpg" alt="Photo")
      li.photo__gallery-item
        a.photo__gallery-item-link(href="#")
          img.photo__gallery-item-picture(src="img/photo-6.jpg" alt="Photo")