mixin test(additionalClass)
  .test.popup#test-start(class=additionalClass)
    .test__item
      .test__item-content
        h2.test__header Ballantine’s Fest Минск
        .test__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        form.test__form(action="#" method="get")
          .test__form-item
            +checkbox('lorem')
            label.test__form-item-content(for="lorem") Lorem ipsum dolor
          .test__form-item
            +checkbox('mollit')
            label.test__form-item-content(for="mollit") Mollit anim id est laborum
          .test__form-item
            +checkbox('ipsum')
            label.test__form-item-content(for="ipsum") Lorem ipsum dolor
          button.button.button--blue.test__button Далее
      .test__item-picture.test__item-picture--1
    .test__item.test__item--result
      .test__item-content
        h2.test__header ты похож на мика джаггера
        .test__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        +share('share--blue')
      .test__item-picture.test__item-picture--result-1