mixin share(additionalClass)
  .share(class=additionalClass)
    .share__header Поделиться:
    .share__links
      a.share__item.share__item--vk(href="#")
      a.share__item.share__item--fb(href="#")