mixin menu(additionalClass)
  ul.menu(class=additionalClass)
    li.menu__item
      a.menu__item-link(href="#") Мероприятия
    li.menu__item
      a.menu__item-link(href="#") Узнай кто ты
    li.menu__item
      a.menu__item-link(href="#") Наша история
    li.menu__item
      a.menu__item-link(href="#") Фотоотчёты