mixin menu(additionalClass)
  .menu(class=additionalClass)
    a.menu__button.fancybox.not-anchor(href="#menu")
    .menu__item-list#menu
      .menu__item-list-wrapper
        a.close.menu__close.not-anchor(href="#") закрыть
        .menu__item
          a.menu__item-link(href="#events") Мероприятия
        .menu__item
          a.menu__item-link(href="#test") Узнай кто ты
        .menu__item
          a.menu__item-link(href="#about") Наша история
        .menu__item
          a.menu__item-link(href="#photo") Фотоотчёты